.centered {
  position: absolute;
  top: 20%;
  left: 35%;
  text-align: left;
}
.para {
  position: absolute;
  top: 50%;
  left: 35%;
  right: 25%;
  text-align: left;
}

.btn {
  border:4;
  border-color:#000;
  outline: 3;
  color: white;
  background-color: #bbf;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  font-family: Cursive;
}

body {
 background-image: url("bg.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
}

.heading {
  font-family: Cursive;
  color: white;
}

.p1 {
  font-family: Cursive;
  color: white;
}


